.card {
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #00000010;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card__img {
    height: 125px;
}

.card__img img {
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.card__info--favorite {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: 10px solid rgb(66, 192, 34);
    padding-left: 10px;
}

.card__info--no-favorite {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: 10px solid rgb(252, 191, 54);
    padding-left: 10px;
}

.card__language--favorite, .card__language--no-favorite{
    padding-top: 10px;
}

.card__language--favorite span {
    background-color: rgb(66, 192, 34);
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
}

.card__language--no-favorite span {
    background-color: rgb(252, 191, 54);
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
}

.card__title {
    color: rgb(112, 209, 246);
    font-weight: 700;
}

.card__country {
    display: flex;
    align-items: center;
}

.card__company {
    flex: 1;
}

.card__country img {
    width: 25px;
    border-radius: 50%;
    margin: 0 10px 5px;
}